.dropZone {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 32px;
    height: 26px;
    margin: var(--spacers-dp4);
    background-color: transparent;
}

.isOver {
    z-index: 100;
}

.isEmpty {
    position: relative;
    flex-grow: 1;
    background-color: green;
    z-index: 100;
}

.dropZone::before,
.dropZone::after {
    content: '';
    position: absolute;
}

/* the vertical line */
.dropZone::before {
    top: 12px;
    width: 4px;
    left: -2px;
    height: 18px;
    background-color: purple;
}

.dropZone.isEmpty::before {
    top: 10px;
}

/* the circle */
.dropZone::after {
    top: 0;
    left: -6px;
    width: 12px;
    height: 12px;
    border: 4px solid purple;
    background: transparent;
    border-radius: 12px;
}
