.dropZone {
    background-color: transparent;
}

.first {
    top: 0;
    left: 0;
    z-index: -1;
    width: 32px;
    height: 24px;
    margin: var(--spacers-dp4);
    position: absolute;
}

.last {
    flex-grow: 1;
    height: 26px;
    margin: 4px 0 0 0;
}

.first.isOver {
    z-index: 100;
}

.first.isEmpty {
    position: relative;
    flex-grow: 2;
    height: 100%;
    margin: 0;
}

.first.isEmpty .dropIndicator {
    margin-top: 4px;
}

.isOver .dropIndicator::before,
.isOver .dropIndicator::after {
    content: '';
    position: absolute;
}

/* the vertical line */
.isOver .dropIndicator::before {
    top: 6px;
    width: 4px;
    left: -6px;
    height: 18px;
    background-color: #4c9ffe;
}

.isOver.isEmpty .dropIndicator::before {
    top: 10px;
}

/* the circle */
.isOver .dropIndicator::after {
    top: -4px;
    left: -10px;
    width: 12px;
    height: 12px;
    border: 4px solid #4c9ffe;
    background: transparent;
    border-radius: 12px;
}
.isOver.isEmpty .dropIndicator::after {
    top: 0;
}
